.header{


    width: 100vw;
    text-align: center;
    font-size: 55px;
    font-weight:15px;
    color: brown;
   

}
.box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
   
    
}
@media (max-width: 768px) {
  
    .header {
      font-size: 38px;
      width:90vw;
    }
     
         }