.box{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
   margin-top:20px;
  
  

}
.box1 {
   min-height: 550px;
}
.main {
   overflow-x: hidden;
}
.boxLang {
   display: flex;
   flex-direction: row;
   justify-content:space-between;
   align-items: center;
   width: 65vw;
}