.box {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-right: 25px;
}

.link {
  font-size: 17px;
  font-weight: 600;
  border-line: none;
  opacity: 0.7;
  margin-left: 25px;
  width: 120px;
  text-align: center;
  box-shadow: 2px 3px 3px #686161;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}
.link:hover {
  transform: scale(1.05);
  background-color: #f6f6f6;
}

@media screen and (max-width: 1200px) {
  .link {
    font-size: 14px;
    font-weight: 500;
    width: 95px;
    text-align: center;
    margin-left: 15px;
    padding: 5px;
  }
}

@media screen and (max-width: 980px) {
  .link {
    font-size: 13px;
    font-weight: 600;
    width: 90px;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    padding: 3px;
  }

  .box {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
  }
}
